/* Author */

.author > * {
  display: inline-block;
}

.author__avatar {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
}

.author__info {
  margin-left: 16px;

  font-size: var(--font-sm);
  line-height: var(--leading-6);
}

.author__info > * {
  display: block;
}

.author_name {
  font-weight: 600;
}
