.testimonials__content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-6);
    margin: var(--spacing-5);
}

.testimonials__container{
    margin-top: var(--spacing-6);
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: var(--spacing-8) ;
    /* max-width: min(var(--width-4xl), 100%); */
}

.testimonials__title{
    text-align: center;
    font-weight: 600;
    font-family: var(--display);
    font-size: var(--font-4xl);
    line-height: var(--leading-9);
}

.testimonials__item{
    background-color: var(--muted);
    border-radius: var(--rounded-2xl);
    padding: var(--spacing-8);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-6);

}

.testimonials__testimony{
    font-size: var(--font-sm);
    color: var(--muted-foreground);
    line-height: var(--leading-6);
    font-weight: 400;

}

.testimonials__item-person{
    display: flex;
    flex-direction: row;
    gap: var(--spacing-4);
}

.testimonials__photo-container{
    width: 48px;
    height: 48px;
}


.testimonials__photo{
    border-radius: 50%;
    width: 48px;
    height: 48px;
    object-fit:cover;
}

.testimonials__name{
    font-weight: 600;
    color: var(--foreground);
    font-size: var(--font-sm);
}

.testimonials__nick{
    font-size: var(--font-sm);
    color: var(--muted-foreground);
}


@media (min-width:80rem){
   .testimonials__container{
        max-width: unset;
        grid-template-columns: repeat(4, 280px);
        
   }
}



