:root {
  --width-xs: 20rem; /* 320px */
  --width-sm: 24rem; /* 384px */
  --width-md: 28rem; /* 448px */
  --width-lg: 32rem; /* 512px */
  --width-xl: 36rem; /* 576px */
  --width-2xl: 42rem; /* 672px */
  --width-3xl: 48rem; /* 768px */
  --width-4xl: 56rem; /* 896px */
  --width-5xl: 64rem; /* 1024px */
  --width-6xl: 72rem; /* 1152px */
  --width-7xl: 80rem; /* 1280px */
}
