.section {
  padding-block: var(--spacing-12);
}

.container {
  --padding: 16px;
  padding-inline: var(--padding);
  max-width: var(--width-7xl);
  margin-inline: auto;
}



/* Sections */

.section-sm {
  padding-block: var(--spacing-6);
}

.section {
  padding-block: var(--spacing-12);
}

.section-lg {
  padding-block: var(--spacing-24);
}

.section-xl {
  padding-block: var(--spacing-36);
}



.pancake-stack {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

@media (min-width: 40rem ){
  .container{
    padding-inline: var(--spacing-6);
  }
}

@media (min-width: 80rem){
  .container{
    padding-inline: var(--spacing-8);
  }
}